# === Datos — rúbrica: -1 pt si se incluye dataset ===
data/raw/
data/external/*.jpg
data/external/*.jpeg
data/external/*.png
data/external/*.webp
!data/.gitkeep

# === Modelos pesados ===
models/*.pt
!models/.gitkeep

# === Python ===
__pycache__/
*.py[cod]
*.egg-info/
.venv/

# === Jupyter ===
.ipynb_checkpoints/

# === IDE ===
.idea/
.vscode/

# === OS ===
.DS_Store
Thumbs.db

# === Env ===
.env
